/*
 * @description:手指夺宝网页版
 * @author: cyt
 * @update: 2016.1.19
*/
@charset "utf-8";
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 312.5%;/*10px*/
}

a,
a:hover {
	text-decoration: none;
	color: #263238;
}

input,
select,
textarea {
	-webkit-appearance: none;
	outline-style: none;
	border: 0;
}

* {
	outline: none;
	webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body, html {
	width: 100%;
	font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	background: #fff;
	color: #263238;
}

body {
	margin: 0 auto;
	font-size: .26rem;
}
.wrap {
	margin: 0 auto;
	width: 7.5rem;
	background-color: #fff;
	font-size: .26rem;
}
.index-wrap {
	padding-bottom: .98rem;
}
.content {
	position: relative;
}
/* 共用部分 begin */
.input-wrap {
	padding-bottom: .05rem;
	border-bottom: 1px solid #ddd; 
}
.input-wrap input {
	color: #263238;
	font-size: .28rem;
}
/* 轮播图 begin */
.goods-scroll {
	padding: 0;
	margin: 0 auto;
	width: 7.5rem;
	position: relative;
	left: 0;
	top: 0;
}
.scroll-box {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.scroll-wrap {
	overflow: hidden; 
	position: relative;
}
.scroll-wrap ul {
	width: 100%;
	height: .1rem;
}
.scroll-wrap li {
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.scroll-wrap li a {
	display: block;
	margin: 0 auto;
	position: relative;
}
.scroll-position {
	bottom: .3rem;
	position: absolute;
	display: inline-block;
	width: 7.5rem;
	height: 6px;
	text-align: center;
	z-index: 400;
}
.scroll-position li {
	display: inline-block;
	margin: 0 .08rem;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background-color: #ccc;
}
.scroll-position li a {
	font-size: 0;
}
.scroll-position li a img {
	width: 100%;
}
.scroll-position li.on {
	background-color: #ff4620;
}
/* 轮播图 end */
/* 共用部分 end */

/* 登录注册、忘记密码 begin */
.form {
	position: relative;
	padding-top: 2rem;
}
.form ul li {
	display: block;
	margin: 0 auto .2rem auto;
	width: 100%;
	text-align: center;
}
.form ul li input {
	padding: .2rem;
	width: 6rem;
	font-size: .3rem;
	border-radius: .08rem;
	background-color: #fff;
}
.form ul li p {
	margin-top: .1rem;
	padding-right: .55rem;
	text-align: right;
	color: #1c87ff;
}
.form ul li button {
	position: relative;
	width: 4.6rem;
	height: .72rem;
	vertical-align: middle;
	font-size: .36rem;
	color: #fff;
	border-radius: .08rem;
	border: 0;
	-webkit-appearance: none;
}
.form ul li button[type="submit"] {
	margin-top: .8rem;
	background-color: #ff4620;
}
.form ul li button[type="button"] {
	margin-top: .2rem;
	background-color: #fff;
	border: 1px solid #ff4620;
	color: #ff4620;
}
.reg-form input.code {
	margin: 0 .2rem .2rem .55rem;
	float: left;
	width: 3.8rem;
}
.reg-form input.getcode-btn {
	float: left;
	width: 2rem;
	height: .76rem;
	color: #fff;
	font-size: .28rem;
	background-color: #1c87ff;
}
/* 登录注册、忘记密码 end */

/* 首页 begin */
.home-wrap {
	position: relative;
}
/* 滚动消息 */
.home-news {
	position: relative;
	height: .7rem;
	line-height: .7rem;
	background-color: #fff;
}
.home-news-icon {
	height: .7rem;
	margin: 0 .1rem 0 .3rem;
	float: left;
}
.home-news-icon i {
	display: inline-block;
	width: .3rem;
	height: .7rem;
	background: url('../img/icon_news.png') center center no-repeat;
	background-size: 100% .3rem;
}
.home-news ul {
	display: inline-block;
	width: 6.5rem;
	height: .7rem;
	line-height: .7rem;
	overflow: hidden;
}
.home-news ul li {
	display: inline-block;
	float: left;
	width: 6.5rem;
	height: .7rem;
	line-height: .75rem;
	color: #263238;
	font-size: .26rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.home-news ul li span {
	float: left;
	color: #78909c;
}
.home-news ul li span em {
	color: #ff4620;
}
/* 搜索 */
.home-search {
	position: relative;
	padding: .2rem .3rem;
	width: 6.9rem;
	height: .8rem;
	line-height: .8rem;
	background-color: #f2f2f2;
}
.search-input-wrap {
	border: 1px solid #78909c;
	border-radius: .08rem;
	overflow: hidden;
	background-color: #fff;
}
.search-icon {
	display: inline-block;
	float: left;
	margin: .2rem;
	width: .4rem;
	height: .4rem;
	background: url('../img/icon_search.png') center center no-repeat;
	background-size: 100% 100%;
}
.search-input-wrap input[type="search"] {
	display: inline-block;
	float: left;
	margin-top: .2rem;
	height: .4rem;
	width: 5.9rem;
	color: #78909c;
	font-size: .26rem;
}
/* 热门产品 */
.home-goods {
	position: relative;
}
.home-goods h2 {
	padding-left: .3rem;
	height: .7rem;
	line-height: .7rem;
	font-weight: normal;
	border-bottom: 1px solid #dbe4e8;
}
.home-goods ul li {
	display: inline-block;
	float: left;
	margin-right: -1px;
	width: 3.15rem;
	padding: .2rem .3rem;
	border-right: 1px solid #dbe4e8;
	border-bottom: 1px solid #dbe4e8;
}
.home-goods ul li img {
	width: 3.2rem;
	height: 2rem;
}
.home-goods ul li .title {
	margin: .2rem 0;
	height: .56rem;
	font-size: .26rem;
	line-height: .3rem;
	color: #263238;
	overflow: hidden;
}
.home-goods-schedule {
	position: relative;
	float: left;
	width: 2.32rem;
}
.home-goods-schedule p {
	margin-bottom: .08rem;
	color: #78909c;
	font-size: .24rem;
	line-height: .24rem;
}
.home-goods-schedule i {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: .12rem;
	background: #d9d9d9;
	border-radius: .08rem;
}
.home-goods-schedule i.schedule-complete {
	width: 90%;
	background-color: #ff9500;
}
.home-goods-footer .goods-gwc-icon {
	display: inline-block;
	float: right;
	width: .44rem;
	height: .44rem;
	background: url('../img/icon_gwc.png') center center no-repeat;
	background-size: 100% 100%;
}
/* 首页 end */

/* 商品详情 begin */
.goods-info {
	position: relative;
}
.goods-info-header {
	position: relative;
	padding: .3rem;
	background-color: #fff;
	border-bottom: .2rem solid #f1f2f3;
}
.goods-info-header p.goods-title {
	margin-bottom: .4rem;
	font-size: .28rem;
	line-height: .5rem;
}
.goods-info-header p.goods-title span {
	margin-right: .1rem;
	padding: .02rem .1rem;
	font-size: .24rem;
	border: 1px solid #ff9500;
	color: #ff9500;
}
.goods-info-process-1 i {
	position: absolute;
	display: inline-block;
	width: 6.9rem;
	height: .12rem;
	background: #d9d9d9;
	border-radius: .08rem;
}
.goods-info-process-1 i.schedule-complete {
	width: 80%;
	background-color: #ff9500;
}
.goods-info-process-1 p {
	padding-top: .2rem;
	font-size: .28rem;
}
.goods-info-process-1 p span:last-child {
	float: right;
}
.goods-info-process-1 p span:last-child em {
	color: #ff9500;
}
.goods-info-process-2 {
	position: relative;
	padding: 0 .2rem;
	height: .5rem;
	line-height: .5rem;
	background-color: #ff4620;
	color: #fff;
	font-size: .28rem;
}
.goods-info-process-2 a {
	margin-top: .05rem;
	display: inline-block;
	float: right;
	width: 1.2rem;
	text-align: center;
	height: .36rem;
	line-height: .36rem;
	border: 1px solid #fff;
	color: #fff;
	font-size: .24rem;
}
.goods-info-process-3 {
	position: relative;
	width: 6.9rem;
}
.goods-info-process-box {
	padding: .2rem .3rem;
	background-color: #f1f2f3;
	font-size: .24rem;
}
.goods-info-process-box img {
	margin-right: .2rem;
	float: left;
	width: .6rem;
	height: .6rem;
	border-radius: .6rem;
	overflow: hidden;
}
.goods-info-process-box ul {
	display: inline-block;
	width: 5.5rem;
}
.goods-info-process-box ul li {
	line-height: .4rem;
}
.goods-info-process-box ul li span {
	margin-left: .2rem;
	color: #1c87ff;
}
.goods-info-process-box ul li em {
	color: #ff4620;
}
.goods-info-process-footer {
	padding: 0 .3rem;
	background-color: #ff4620;
	height: .5rem;
	line-height: .5rem;
	color: #fff;
	font-size: .28rem;
}
.goods-info-process-footer a {
	margin-top: .05rem;
	display: inline-block;
	float: right;
	width: 1.2rem;
	text-align: center;
	height: .36rem;
	line-height: .36rem;
	border: 1px solid #fff;
	color: #fff;
	font-size: .24rem;
}

.goods-info-link {
	position: relative;
	background-color: #fff;
	border-bottom: .2rem solid #f1f2f3;
}
.goods-info-link ul li {
	display: inline-block;
	padding: 0 .3rem;
	width: 6.9rem;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #dbe4e8;
}
.goods-info-link ul li:last-child {
	border-bottom: none;
}
.goods-info-link ul li a {
	display: block;
}
.goods-info-link ul li i.icon {
	margin: .3rem .2rem .3rem 0;
	display: inline-block;
	float: left;
	width: .4rem;
	height: .4rem;
}
.goods-info-link ul li i.icon-1 {
	background: url('../img/goods_detail_icon_1.png') center center no-repeat;
	background-size: 100% 100%;
}
.goods-info-link ul li i.icon-2 {
	background: url('../img/goods_detail_icon_2.png') center center no-repeat;
	background-size: 100% 100%;
}
.goods-info-link ul li i.icon-3 {
	background: url('../img/goods_detail_icon_3.png') center center no-repeat;
	background-size: 100% 100%;
}
.goods-info-record {
	position: relative;
	padding-bottom: .98rem;
}
.goods-info-record p {
	padding-left: .3rem;
	height: .7rem;
	line-height: .7rem;
	border-bottom: 1px solid #dbe4e8;
}
.goods-info-record-box {
	position: relative;
	width: 6.9rem;
	padding: .3rem;
	border-bottom: 1px solid #dbe4e8;
}
.goods-info-record-box img {
	margin-right: .2rem;
	float: left;
	width: .8rem;
	height: .8rem;
	border-radius: .8rem;
	overflow: hidden;
}
.goods-info-record-box ul {
	display: inline-block;
	position: relative;
	width: 5.9rem;
}
.goods-info-record-box ul li {
	position: relative;
	display: inline-block;
	font-size: .24rem;
	line-height: .4rem;
}
.goods-info-record-box ul li span {
	margin-left: .1rem;
	color: #78909c;
}
.goods-info-record-box ul li em {
	color: #ff9500;
}
.goods-detail-footer {
	position: fixed;
	bottom: 0;
	padding: 0 .3rem;
	margin: 0 auto;
	width: 6.9rem;
	height: .98rem;
	line-height: .98rem;
	background-color: #fff;
	border-top: 1px solid #dbe4e8;
	z-index: 999;
}
.goods-detail-footer-1 a {
	position: relative;
	margin-top: .1rem;
	display: inline-block;
	float: left;
	width: 2.5rem;
	text-align: center;
	height: .72rem;
	line-height: .72rem;
	border: 1px solid #ff4620;
	border-radius: .08rem;
	background-color: #fff;
	color: #ff4620;
	font-size: .28rem;
}
.goods-detail-footer-1 a:first-child {
	margin-right: .2rem;
	color: #fff;
	background-color: #ff4620;
}
.goods-detail-footer-1 i {
	display: inline-block;
	float: right;
	width: .48rem;
	height: .98rem;
	background: url('../img/icon_gwc_link.png') center center no-repeat;
	background-size: 100% .48rem;
}
.goods-detail-footer-2 p {
	float: left;
}
.goods-detail-footer-2 a {
	position: relative;
	margin-top: .1rem;
	display: inline-block;
	float: right;
	width: 2.5rem;
	text-align: center;
	height: .72rem;
	line-height: .72rem;
	border: 1px solid #ff4620;
	border-radius: .08rem;
	color: #fff;
	background-color: #ff4620;
	font-size: .28rem;
}
/* 商品详情 end */

/* 最新揭晓 begin */
.new-list {
	position: relative;
}
.new-box {
	padding: .3rem;
	position: relative;
	display: inline-block;
	float: left;
	width: 6.9rem;
	border-bottom: 1px solid #dbe4e8;
}
.new-box a {
	font-size: .28rem;
	color: #263238;
}
.new-box .goods-img {
	margin-right: .2rem;
	float: left;
	width: 1.2rem;
	height: 1.2rem;
}
.new-box .goods-img img {
	width: 100%;
	height: 100%;
}
.new-box .new-ongoing-img:after {
	margin-top: -1.2rem;
	display: inline-block;
	position: absolute;
	content: '';
	width: 1.2rem;
	height: 1.2rem;
	background: url('../img/new_ongoing.png') center center no-repeat;
	background-size: 100% 100%;
}
.new-box ul {
	display: inline-block;
	float: left;
	width: 5.5rem;
}
.new-box ul li {
	font-size: .26rem;
	margin-bottom: .1rem;
}
.new-box ul li:last-child {
	margin-bottom: 0;
}
.new-box ul li.title {
	font-size: .28rem;
}
.new-box ul li.price {
	font-size: .24rem;
	color: #78909c;
}
.new-box ul li span.winner {
	color: #1c87ff;
}
.new-box ul li span.num {
	color: #ff4620;
}
.new-box ul li span.countdown {
	padding: .1rem;
	height: .5rem;
	line-height: .5rem;
	background-color: #ff9500;
	color: #fff; 
}
/* 最新揭晓 end */

/* 往期揭晓 begin */
.wqjx-list {
	position: relative;
}
.wqjx-box {
	background-color: #fff;
	border-bottom: .1rem solid #d9d9d9;
}
.wqjx-box p {
	padding-left: .3rem;
	height: .7rem;
	line-height: .7rem;
	border-bottom: 1px solid #dbe4e8;
}
.wqjx-box p span {
	margin-right: .1rem;
}
.wqjx-box-content {
	display: inline-block;
	padding: .2rem .3rem;
}
.wqjx-box-content img {
	margin-right: .2rem;
	float: left;
	width: .8rem;
	height: .8rem;
	border-radius: .8rem;
	overflow: hidden;
}
.wqjx-box-content ul {
	display: inline-block;
	float: left;
	width: 5.9rem;
}
.wqjx-box-content ul li {
	margin-bottom: .15rem;
	font-size: .26rem;
}
.wqjx-box-content ul li:last-child {
	margin-bottom: 0;
}
.wqjx-box-content ul li span {
	float: left;
	color: #78909c;
}
/* 往期揭晓 end */

/* 晒单列表 begin */
.sd-list {
	position: relative;
}
.sd-box {
	padding: .3rem;
	position: relative;
	display: inline-block;
	float: left;
	width: 6.9rem;
	border-bottom: 1px solid #dbe4e8;
}
.sd-box a {
	font-size: .28rem;
	color: #263238;
}
.sd-box-header {
	display: inline-block;
	margin-bottom: .15rem;
	color: #263238;
}
.sd-box-header .sd-avatar {
	position: relative;
	margin-right: .2rem;
	float: left;
	width: .8rem;
	height: .8rem;
	border-radius: .8rem;
	overflow: hidden;
}
.sd-box-header-info p {
	float: left;
	width: 5.9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sd-box-header-info p:last-child {
	color: #78909c;
	font-size: .24rem;
}
.sd-box-content {
	margin-left: 1rem;
	width: 5.9rem;
}
.sd-box-content p {
	margin-bottom: .15rem;
}
.sd-img-list img {
	float: left;
	width: 1.8rem;
	height: 1.8rem;
}
.sd-img-list img:nth-child(2) {
	margin: 0 .25rem;
}
/* 晒单列表 end */

/* 晒单详情 begin */
.sd-detail-header {
	padding: 0 .3rem;
	height: 1rem;
	line-height: 1rem;
	background-color: #fff;
}
.sd-detail-header img {
	margin: .1rem .2rem 0 0;
	float: left;
	width: .8rem;
	height: .8rem;
	border-radius: .8rem;
}
.sd-detail-header span {
	font-size: .28rem;
}
.sd-detail-header span:last-child {
	float: right;
	font-size: .24rem;
	color: #78909c;
}
.sd-detail-info {
	padding: .2rem .3rem;
	background-color: #f1f2f3;
}
.sd-detail-info ul li {
	margin-bottom: .15rem;
	display: block;
	font-size: .26rem;
}
.sd-detail-info ul li:last-child {
	margin-bottom: 0;
}
.sd-detail-info ul li span {
	color: #78909c;
}
.sd-detail-content {
	padding: .3rem;
}
.sd-detail-content p {
	font-size: .24rem;
	margin-bottom: .2rem;
}
.sd-detail-content img {
	width: 100%;
}
/* 晒单详情 end */

/* 购物车 begin */
.cart-list {
	position: relative;
	padding-bottom: .98rem;
}
.cart-box {
	padding: .2rem .3rem;
	border-bottom: 1px solid #dbe4e8;
}
.cart-box img {
	margin-right: .3rem;
	float: left;
	width: 1.8rem;
	height: 1.8rem;
}
.cart-box-content {
	display: inline-block;
	width: 4.8rem;
}
.cart-box-content p {
	margin-bottom: .2rem;
}
.cart-box-content p.goods-title {
	width: 4.05rem;
	font-size: .28rem;
}
.cart-box-content p span {
	margin-right: .3rem;
	font-size: .24rem;
}
.cart-box-content p span em {
	color: #ff9500;
}
.cart-box-num span {
	display: inline-block;
	margin-right: .2rem;
	height: .56rem;
	line-height: .56rem;
	float: left;
}
.goods-num {
	position: relative;
	float: left;
	width: 2rem;
	height: .56rem;
	background: url('../img/num.png') center center no-repeat;
	background-size: 100% 100%;
}
.goods-num i {
	display: inline-block;
	float: left;
	width: .6rem;
	height: .56rem;
	line-height: .56rem;
	text-align: center;
	cursor: pointer;
}
.goods-num input[type="text"] {
	float: left;
	text-align: center;
	height: .56rem;
	line-height: .56rem;
	width: .8rem;
	padding: 0;
	background: none;
}
.cart-box-num em {
	float: right;
	width: 1.1rem;
	text-align: center;
	height: .56rem;
	line-height: .56rem;
	background-color: #ff4620;
	color: #fff;
	border-radius: .08rem;
	cursor: pointer;
}
.cart-box-num em.cart-selectall {
	color: rgba(0,0,0,0);
	background: url('../img/cart_selectall.png') center center no-repeat;
	background-size: 100% 100%;
}
.cart-goods-del {
	position: absolute;
	right: .65rem;
	margin-top: -1.1rem;
}
.cart-goods-del i {
	display: inline-block;
	width: .4rem;
	height: .4rem;
	background: url('../img/goods_del.png') center center no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.cart-footer {
	position: fixed;
	padding: 0 .3rem;
	bottom: .98rem;
	width: 6.9rem;
	height: .98rem;
	line-height: .98rem;
	background-color: #fff;
	border-top: 1px solid #dbe4e8;
}
.cart-footer p {
	float: left;
	font-size: .26rem;
}
.cart-footer p span {
	color: #ff4620;
}
.cart-footer button {
	margin-top: .24rem;
	position: relative;
	float: right;
	width: 1.1rem;
	text-align: center;
	height: .5rem;
	vertical-align: middle;
	font-size: .26rem;
	background-color: #ff4620;
	color: #fff;
	border-radius: .08rem;
	border: 0;
}
/* 支付成功 */
.cart-payed {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 7.5rem;
	height: 100%;
	background-color: #fff;
	z-index: 999;
	overflow: auto;
}
.cart-payed-header {
	position: relative;
	width: 7.5rem;
	text-align: center;
	background-color: #f2f2f2;
}
.cart-payed-header .payed-tips {
	font-size: .3rem;
	padding-top: .8rem;
}
.cart-payed-header .payed-tips i {
	position: absolute;
	margin-left: -.62rem;
	display: inline-block;
	width: .42rem;
	height: .42rem;
	background: url('../img/payed_icon.png') center center no-repeat;
	background-size: 100% 100%;
}
.payed-tips-small {
	margin: .2rem auto 1rem auto;
	color: #78909c;
}
.cart-payed-link {
	padding-bottom: .4rem;
	position: relative;
}
.cart-payed-link a {
	display: inline-block;
	width: 3rem;
	text-align: center;
	height: .6rem;
	line-height: .6rem;
	color: #263238;
	background-color: #fff;
	font-size: .26rem;
	border-radius: .08rem;
}
.cart-payed-link a:last-child {
	margin-left: .2rem;
	color: #fff;
	background-color: #ff9500;
}
.cart-payed-list {
	position: relative;
}
.cart-payed-list-box {
	display: inline-table;
	padding: .3rem;
	width: 6.9rem;
	border-bottom: 1px solid #dbe4e8;
}
.cart-payed-list-box ul {
	display: inline-block;
	float: left;
	width: 5.9rem;
}
.cart-payed-list-box ul li {
	font-size: .28rem;
	line-height: .5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cart-payed-list-box ul li:last-child {
	font-size: .26rem;
	color: #78909c;
}
.cart-payed-list-box p {
	margin-top: .25rem;
	font-size: .3rem;
	float: right;
}
.cart-payed-list-box p em {
	color: #ff9500;
}
/* 购物车 end */

/* 我的夺宝 begin */
.userinfo-header {
	height: 3.16rem;
	width: 100%;
	/*background: url('../img/goods_3.png') center top no-repeat;*/
	background-color: #ccc;
	background-size: 100% 100%; 
}
.userinfo-setting a {
	margin: .1rem .3rem;
	position: relative;
	float: right;
	width: .44rem;
	height: .44rem;
	background: url('../img/nav_userinfo_active.png') center center no-repeat;
	background-size: 100% 100%;
	z-index: 999;
}
.userinfo-inner {
	padding-top: .88rem;
	position: relative;
	text-align: center;
}
.userinfo-inner img {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 1.1rem;
	overflow: hidden;
}
.userinfo-inner p {
	margin-top: .3rem;
	font-size: .36rem;
	color: #fff;
}
.userinfo-content ul li a {
	padding: 0 .3rem;
	display: inline-block;
	width: 6.9rem;
	height: 1.1rem;
	line-height: 1.1rem;
	text-decoration: none;
	color: #263238;
	font-size: .32rem;
	border-bottom: 1px solid #dbe4e8;
}
.userinfo-content ul li a span {
	position: absolute;
	right: .7rem;
}
.userinfo-content ul li a .userinfo-icon {
	margin-right: .2rem;
	display: inline-block;
	float: left;
	width: .6rem;
	height: 1.1rem;
}
.userinfo-content ul li a .userinfo-icon-qb {
	background: url('../img/userinfo_icon_1.png') center center no-repeat;
	background-size: 100% .6rem;
}
.userinfo-content ul li a .userinfo-icon-db {
	background: url('../img/userinfo_icon_2.png') center center no-repeat;
	background-size: 100% .6rem;
}
.userinfo-content ul li a .userinfo-icon-zj {
	background: url('../img/userinfo_icon_3.png') center center no-repeat;
	background-size: 100% .6rem;
}
.userinfo-content ul li a .userinfo-icon-sd {
	background: url('../img/userinfo_icon_4.png') center center no-repeat;
	background-size: 100% .6rem;
}
.userinfo-content ul li a .userinfo-icon-goto {
	display: inline-block;
	float: right;
	width: .2rem;
	height: 1.1rem;
	background: url('../img/goto.png') center center no-repeat;
	background-size: 100% .36rem;
}
/* 我的夺宝 end */

/* 我的资料 begin */
.userinfo ul {
	position: relative;
	display: inline-block;
	width: 100%;
}
.userinfo ul li {
	position: relative;
	padding: 0 .3rem;
	display: inline-block;
	width: 6.9rem;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: .28rem;
	border-bottom: 1px solid #dbe4e8;
}
.userinfo ul li em {
	display: inline-block;
	float: left;
	width: 1.2rem;
	color: #78909c;
}
.userinfo ul li span {
	display: inline-block;
	float: right;
	text-align: right;
	color: #263238;
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.userinfo ul li span img {
	width: .8rem;
	height: .8rem;
	border-radius: .8rem;
	overflow: hidden;
}
.userinfo ul li i.goto {
	margin-left: .2rem;
	display: inline-block;
	float: right;
	width: .2rem;
	height: 1.1rem;
	background: url('../img/goto.png') center center no-repeat;
	background-size: 100% .36rem;
}
/* 我的资料 end */

/* 夺宝、中奖记录公用部分 begin */
.record-list {
	position: relative;
}
.record-box {
	padding: .3rem;
	position: relative;
	width: 6.9rem;
	border-bottom: 1px solid #dbe4e8;
}
.record-box a {
	font-size: .28rem;
	color: #263238;
}
.record-box .goods-img {
	margin-right: .2rem;
	float: left;
	width: 1.2rem;
	height: 1.2rem;
}
.record-box .goods-img img {
	width: 100%;
	height: 100%;
}
.record-box ul {
	display: inline-block;
	width: 5.5rem;
}
.record-box ul li {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: .1rem;
}
.record-box ul li:last-child {
	margin-bottom: 0;
}
.record-box ul li.result {
	padding: .2rem;
	width: 5.1rem;
	background-color: #f2f2f2;
	font-size: .26rem;
}
.record-box ul li.result p {
	margin-bottom: .1rem;
}
.record-box ul li.result p:last-child {
	margin-bottom: 0;
}
.record-box ul li.result p span {
	color: #ff9500;
}
.record-box ul li.result p em {
	color: #ff4620;
}
/* 夺宝、中奖记录公用部分 end */

/* 夺宝记录 begin */
.record-db-nav {
	height: .8rem;
	line-height: .8rem;
	background-color: #fff;
	border-bottom: 1px solid #dbe4e8;
}
.record-db-nav ul li a {
	display: inline-block;
	float: left;
	width: 2.5rem;
	text-align: center;
	color: #263238;
	font-size: .28rem;
}
.record-db-nav ul li.active a {
	color: #ff4620;
	border-bottom: .04rem solid #ff4620;
}
.record-db-box ul li.process {
	width: 4.2rem;
}
.record-db-box ul li span.countdown {
	padding: .05rem .1rem;
	background-color: #ff9500;
	color: #fff; 
}
.record-db-box ul li i {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: .12rem;
	background: #d9d9d9;
	border-radius: .08rem;
}
.record-db-box ul li i.schedule-complete {
	width: 80%;
	background-color: #ff9500;
}
.record-db-box ul li.process p {
	position: relative;
	padding-top: .12rem;
}
.record-db-box ul li.process span {
	font-size: .24rem;
}
.record-db-box ul li.process p span:last-child {
	float: right;
}
.record-db-box ul li.process p span:last-child em {
	color: #ff9500;
}
.record-db-box ul li.my-db {
	color: #78909c;
}
.record-db-box ul li.my-db span:last-child {
	float: right;
	color: #1c87ff;
}
/* 查看我的号码 */
.num-dialog {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 7.5rem;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	z-index: 999;
}
.num-dialog-inner {
	position: relative;
	top: 3.5rem;
	left: 1.05rem;
	width: 5.4rem;
	border-radius: .08rem;
	background-color: #fff;
	overflow: hidden;
	color: #263238;
}
.num-dialog-header,
.num-dialog-footer {
	font-size: .3rem;
	height: .7rem;
	line-height: .7rem;
	text-align: center;
}
.num-dialog-content {
	padding: .2rem .3rem .1rem .3rem;
	width: 4.8rem;
	max-height: 1.74rem;
	overflow: auto;
	border-top: 1px solid #dbe4e8;
	border-bottom: 1px solid #dbe4e8;
}
.num-dialog-content span {
	margin-bottom: .1rem;
	display: inline-block;
	width: 1.6rem;
	float: left;
	text-align: center;
}
.num-dialog-footer {
	color: #1c87ff;
	cursor: pointer;
}
/* 夺宝记录 end */

/* 中奖记录 begin */
.record-zj-box ul li.price {
	font-size: .26rem;
	color: #78909c;
}
.zj-box-footer {
	margin-top: .3rem;
	display: inline-block;
	width: 6.9rem;
}
.zj-box-footer i {
	position: relative;
	margin-top: .08rem;
	display: inline-block;
	float: left;
	width: 1.42rem;
	height: .3rem;
}
.zj-box-footer i.process-icon-1 {
	background: url('../img/process_1.png') center center no-repeat;
	background-size: 100% 100%;
}
.zj-box-footer i.process-icon-2 {
	background: url('../img/process_2.png') center center no-repeat;
	background-size: 100% 100%;
}
.zj-box-footer i.process-icon-3 {
	background: url('../img/process_3.png') center center no-repeat;
	background-size: 100% 100%;
}
.zj-box-footer p {
	position: relative;
	display: inline-block;
	float: right;
	width: 1.3rem;
	text-align: center;
	height: .46rem;
	line-height: .46rem;
}
.zj-box-footer p a {
	font-size: .26rem;
	color: #ff9500;
}
.zj-box-footer p.process-action {
	background-color: #1c87ff;
	border-radius: .04rem;
}
.zj-box-footer p.process-action a {
	color: #fff;
}
/* 添加收货地址 */
.record-zj-address {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 7.5rem;
	height: 100%;
	background-color: #fff;
	z-index: 999;
}
.address-form {
	position: relative;
}
.address-form ul li {
	margin-top: .5rem;
	padding: 0 .3rem;
	display: inline-block;
	width: 6.9rem;
	height: .5rem;
	line-height: .5rem;
	font-size: .28rem;
}
.address-form ul li span {
	display: inline-block;
	float: left;
	width: 1.5rem;
	color: #78909c;
}
.address-form ul li p.input-wrap {
	float: left;
	width: 5.4rem;
	font-size: .26rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.address-form ul li input {
	width: 5.4rem;
}
.address-form ul li .address-select {
	margin-bottom: .1rem;
	display: inline-block;
	float: left;
	width: 1.76rem;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: .04rem;
	vertical-align: middle;
}
:-webkit-any(.address-select) {
	height: .56rem;
	width: .56rem;
	-webkit-appearance: none;
	background: url('../img/down.jpg') 1.22rem center no-repeat;
	background-size: .56rem .56rem;
	z-index: 999; 
}
.address-form ul li .city-select {
	margin: 0 .05rem;
}
.address-form ul li button {
	margin: .5rem auto 0 1.65rem;
	color: #fff;
	width: 3.6rem;
	height: .72rem;
	vertical-align: middle;
	font-size: .3rem;
	background-color: #ff4620;
	border-radius: .08rem;
	border: 0;
}
/* 中奖记录 end */

/* 发布晒单 begin */
.sd-form {
	padding: .2rem .3rem;
}
.sd-form textarea {
	margin-bottom: .2rem;
	padding: .2rem;
	width: 6.5rem;
	height: 2.5rem;
	font-size: .26rem;
	color: #263238;
	background-color: #f1f2f3;
	border-radius: .08rem;
}
.sd-upload-img {
	height: .8rem;
	line-height: .8rem;
}
.sd-upload-img i {
	margin-right: .2rem;
	display: inline-block;
	float: left;
	width: .8rem;
	height: .8rem;
	background: url('../img/sd_icon_camera.png') center center no-repeat;
	background-size: 100% 100%;
}
.sd-form button {
	margin: .5rem auto .5rem 1.65rem;
	width: 3.6rem;
	text-align: center;
	height: .72rem;
	vertical-align: middle;
	background-color: #ff4620;
	border: none;
	color: #fff;
	font-size: .3rem;
	border-radius: .08rem;
}
/* 发布晒单 end */

/* nav begin */
.nav {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	padding: 0;
	width: 7.5rem;
	height: .98rem;
	background-color: #fff;
	border-top: 1px solid #dbe4e8;
}
.nav ul {
	display: block;
	width: 7.5rem;
	height: .98rem;
}
.nav ul li {
	padding: .15rem 0;
	float: left;
	width: 1.5rem;
	text-align: center;
	cursor: pointer;
}
.nav ul li a {
	display: inline-block;
	width: 1.5rem;
}
.nav ul li .nav-icon {
	margin-bottom: .08rem;
	display: inline-block;
	width: .34rem;
	height: .34rem;
	background-size: 100% 100%;
}
.nav ul li .nav-icon-home {
	background: url('../img/nav_home_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .nav-icon-home {
	background: url('../img/nav_home_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li .nav-icon-new {
	background: url('../img/nav_new_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .nav-icon-new {
	background: url('../img/nav_new_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li .nav-icon-sd {
	background: url('../img/nav_sd_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .nav-icon-sd {
	background: url('../img/nav_sd_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li .nav-icon-gwc {
	background: url('../img/nav_gwc_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .nav-icon-gwc {
	background: url('../img/nav_gwc_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li .nav-icon-userinfo {
	background: url('../img/nav_userinfo_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .nav-icon-userinfo {
	background: url('../img/nav_userinfo_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li p {
	color: #999;
	font-size: .24rem;
	line-height: .24rem;
}
.nav ul li.active p {
	color: #ff4620;
}
/* nav end */


/* 正在加载中动画 begin */
.loading-dialog {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -3.75rem;
	width: 7.5rem;
	height: 100%;
	background-color: #fff;
	text-align: center;
	z-index: 999;
}
.loading-inner {
	position: relative;
	top: 4rem;
}
.loading-icon {
	margin-bottom: 1.3rem;
	position: relative;
	left: 3.27rem;
	width: .96rem;
	height: .96rem;
	background: url('http://7xl6qe.com2.z0.glb.qiniucdn.com/img%2Floading_icon.png') center center no-repeat;
	background-size: 100% 100%;
	animation: 1s linear 0s normal none infinite rotate;
	-webkit-animation: 1s linear 0s normal none infinite rotate;
}
@-webkit-keyframes rotate {
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate {
	from{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate {
	from{-ms-transform:rotate(0deg)}
	to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate {
	from{-o-transform:rotate(0deg)}
	to{-o-transform:rotate(360deg)}
}
.loading-inner p {
	margin-bottom: .1rem;
	font-size: .3rem;
	color: #263238;
}
.loading-inner small {
	font-size: .16rem;
	color: #999;
}
/* 正在加载中动画 end */

/* 字体 */
@font-face {
    /* font-properties */
    font-family: 'Snell Roundhand',cursive;
    src:url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/Material-Design-Icons.woff2'),  
    url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/SnellRoundhandLTStd-Scr.otf');
}

/* 媒体查询 */
@media screen and (max-width:359px) and (orientation:portrait) {
	html {
		font-size: 266.67%;
	}
}

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
	html {
		font-size: 300%;
	}
}

@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
	html {
		font-size: 320%;
	}
}

@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
	html {
		font-size: 333.33%;
	}
}

@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
	html {
		font-size: 345%;
	}
}

@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
	html {
		font-size: 360%;
	}
}

@media screen and (min-width:480px)and (max-width:639px) and (orientation:portrait) {
	html {
		font-size: 400%;
	}
}

@media screen and (min-width:640px) and (orientation:portrait) {
	html {
		font-size: 533.33%;
	}
}