/*
 * @description:A梦分期
 * @author: cyt
 * @update: 2016.2.25
*/
@charset "utf-8";
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 312.5%;/*10px*/
}

a,
a:hover {
	text-decoration: none;
	color: #263238;
}
.hidden {
	visibility: hidden;
}

input,
select,
textarea {
	-webkit-appearance: none;
	outline-style: none;
	border: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #78909c;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #78909c;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #78909c;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #78909c;
}

* {
	outline: none;
	webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.null-tips {
	position: relative;
	display: inline-block;
	width: 7.5rem;
	line-height: 5rem;
	color: #999;
	text-align: center;
}
.nomore-tips {
	position: relative;
	display: inline-block;
	width: 7.5rem;
	line-height: 1rem;
	color: #999;
	text-align: center;
	cursor: pointer;
}
.txt-orange {
	color: #ff681d;
}

/* loading */
i.loading {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: 5px;
	width: 20px;
	height: 20px;
	background: url('http://7xl6qe.com2.z0.glb.qiniucdn.com/img/loading.gif') center center no-repeat;
	background-size: 20px 20px;
}

body, html {
	width: 100%;
	font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	background: #f1f3f2;
	color: #263238;
}

body {
	margin: 0 auto;
	font-size: .28rem;
	line-height: 1;
}
.wrap {
	margin: 0 auto;
	width: 7.5rem;
	background-color: #f1f3f2;
	font-size: .28rem;
	overflow: hidden;
}
.index-wrap {
	padding-bottom: .98rem;
}
.content {
	position: relative;
}
/* common begin */
/* scroll begin */
.goods-scroll {
	padding: 0;
	margin: 0 auto;
	width: 7.5rem;
	position: relative;
	left: 0;
	top: 0;
	background-color: #fff;
}
.scroll-box {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.scroll-wrap {
	overflow: hidden; 
	position: relative;
}
.scroll-wrap ul {
	width: 100%;
	height: .1rem;
}
.scroll-wrap li {
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.scroll-wrap li a {
	display: block;
	margin: 0 auto;
	position: relative;
}
.scroll-position {
	bottom: .3rem;
	position: absolute;
	display: inline-block;
	width: 7.5rem;
	height: 6px;
	text-align: center;
	z-index: 400;
}
.scroll-position li {
	display: inline-block;
	margin: 0 .08rem;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background-color: #ccc;
}
.scroll-position li a {
	font-size: 0;
}
.scroll-position li a img {
	width: 100%;
}
.scroll-position li.on {
	background-color: #2b97fb;
}
/* scroll end */
/* common end */

/* item_detail begin */
.item-info {
	position: relative;
	border-top: 1px solid #f1f3f2;
	background-color: #fff;
}
.item-info-tips {
	padding: 0 .3rem;
	height: .5rem;
	line-height: .5rem;
	background-color: #ff4640;
	color: #fff;
	font-size: .26rem;
}
.item-info-header {
	position: relative;
	padding: .2rem .3rem .3rem .3rem;
	border-bottom: .2rem solid #f1f3f2;
}
.item-info-header h4 {
	margin-bottom: .2rem;
	font-weight: normal;
}
.item-info-header p {
	color: #ff681d;
	font-size: .36rem;
}
.item-info-content {
	position: relative;
	padding: .3rem .3rem 0 .3rem;
	border-bottom: .2rem solid #f1f3f2;
}
.item-info-box {
	padding-bottom: .3rem;
	position: relative;
	display: inline-block;
	width: 6.9rem;
}
.item-info-box p.title {
	position: relative;
	clear: both;
	margin-bottom: .2rem;
}
.item-info-box label {
	display: inline-block;
	float: left;
	margin: 0 .075rem .1rem .075rem;
	text-align: center;
	cursor: pointer;
}
.item-info-box label p {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: .1rem .3rem;
	border-radius: .05rem;
	color: #78909c;
	border: 1px solid #78909c;
	z-index: 1;
}
.item-info-box label.checked p {
	color: #ff681d;
	border: 1px solid #ff681d;
}
.item-info-box label input[type="radio"] {
	position: relative;
	width: 0;
	height: 0;
	display: none;
}
.item-info-box-term label {
	margin: 0 .05rem .1rem .05rem;
}
.item-info-box-term label p {
	position: relative;
	display: inline-block;
	float: left;
	padding: .05rem 0;
	width: 2.15rem;
	text-align: center;
	z-index: 1;
	color: #78909c;
}
.item-info-box-term label p span {
	display: inline-block;
	float: left;
	font-size: .26rem;
	line-height: .26rem;
	width: 2.15rem;
}
.item-info-box-term label p span:first-child {
	margin-top: .08rem;
	margin-bottom: .1rem;
}
.item-info-link {
	padding-bottom: .98rem;
}
.item-info-link a {
	display: inline-block;
	padding: 0 .3rem;
	width: 6.9rem;
	height: 1rem;
	line-height: 1rem;
	border-bottom: .2rem solid #f1f3f2;
}
.item-info-link a i.icon-goto {
	margin-top: .32rem;
	float: right;
	width: .2rem;
	height: .36rem;
	background: url('../data/icon_goto.png') center center no-repeat;
	background-size: 100% 100%;
}
.item-info-footer {
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	text-align: center;
	height: .98rem;
	line-height: .98rem;
	font-size: .34rem;
	background-color: #ff681d;
	z-index: 999;
}
.item-info-footer a {
	display: inline-block;
	width: 100%;
	color: #fff;
}
/* item_detail end */

/* confirm_order begin */
.confirm-order-section {
	position: relative;
	margin-bottom: .2rem;
	padding: .3rem;
	background-color: #fff;
}
.confirm-order-header {
	display: inline-block;
	padding: .2rem .3rem;
	background-color: #6c6e7c;
	color: #fff;
}
.confirm-order-header img {
	float: left;
	margin-right: .2rem;
	width: 1.2rem;
	height: 1.2rem;
}
.confirm-order-header ul {
	height: 1.2rem;
	overflow: hidden;
}
.confirm-order-header ul li {
	display: inline-block;
	width: 5.2rem;
}
.confirm-order-header ul li.item-title {
	margin-bottom: .2rem;
	height: .64rem;
	line-height: 1.2;
	overflow: hidden;
}
.confirm-order-header ul li.item-infos {
	height: .34rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.confirm-order-header ul li.item-infos em {
	font-size: .34rem;
	font-weight: bold;
}
.confirm-order-header ul li.item-infos span {
	font-size: .24rem;
	padding-left: .3rem;
}
.confirm-order-sf p:not(:last-child) {
	line-height: 1.2;
	margin-bottom: .2rem;
}
.confirm-order-sf p.input-wrap {
	height: .6rem;
	line-height: .6rem;
	border: 1px solid #78909c;
	-webkit-border-radius: .08rem;
	-moz-border-radius: .08rem;
	border-radius: .08rem;
	text-align: center;
}
.confirm-order-sf p input {
	margin-top: .1rem;
	width: 96%;
	height: .4rem;
	line-height: .4rem;
	color: #263238;
}

.confirm-order-info ul li:not(:last-child) {
	margin-bottom: .2rem;
}
.confirm-order-info ul li span {
	float: right;
}

.confirm-address-info {
	margin-bottom: .2rem;
	background-color: #fff;
}
.confirm-address-info p.title {
	padding-left: .3rem;
	height: .7rem;
	line-height: .7rem;
	border-bottom: 1px solid #f1f3f2;
}
.confirm-address-detail {
	padding: .2rem .3rem .3rem .3rem;
}
.confirm-address-detail ul {
	display: inline-block;
	width: 6.2rem;
}
.confirm-address-detail ul li {
	line-height: 1.2;
}
.confirm-address-detail ul li:not(:last-child) {
	margin-bottom: .2rem;
}
.confirm-address-detail ul li span {
	display: inline-block;
	width: 1.5rem;
}
.confirm-address-detail i.icon-goto {
	position: relative;
	float: right;
	margin-top: .6rem;
	width: .2rem;
	height: .36rem;
	background: url('../data/icon_goto.png') center center no-repeat;
	background-size: 100% 100%;
}
.confirm-service-info {
	margin-bottom: 1.18rem;
	height: .4rem;
	line-height: .4rem;
}
.confirm-service-info i.icon-goto {
	position: relative;
	float: right;
	width: .2rem;
	height: .36rem;
	background: url('../data/icon_goto.png') center center no-repeat;
	background-size: 100% 100%;
}
.confirm-order-footer {
	position: fixed;
	bottom: 0;
}
.confirm-order-footer button {
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	height: .98rem;
	line-height: .98rem;
	color: #fff;
	background-color: #ff681d;
	border: 0;
	font-size: .34rem;
}
.confirm-address-dialog {
	position: fixed;
	top: 0;
	width: 7.5rem;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.confirm-address-dialog-inner {
	margin: 2rem auto;
	width: 6rem;
	background-color: #fff;
	-webkit-border-radius: .08rem;
	-moz-border-radius: .08rem;
	border-radius: .08rem;
	text-align: center;
	overflow: hidden;
}
.confirm-address-dialog-inner h4 {
	padding: .4rem 0 .4rem 0;
	font-size: .34rem;
}
.confirm-address-dialog-inner p {
	padding-bottom: .6rem;
}
.confirm-address-inner-footer {
	display: inline-block;
	border-top: 1px solid #f1f3f2;
}
.confirm-address-inner-footer a {
	float: left;
	width: 3rem;
	text-align: center;
	height: 1.1rem;
	line-height: 1.1rem;
	color: #1c87ff;
	font-size: .36rem;
}
.confirm-address-inner-footer a:first-child {
	margin-right: -1px;
	border-right: 1px solid #f1f3f2;
}
/* confirm_order end */

/* credit_packet begin */
.credit-packet .credit-packet-section {
	position: relative;
	margin-bottom: .2rem;
	padding: .3rem;
	background-color: #fff;
}
.credit-packet-header {
	text-align: center;
}
.credit-limit {
	position: relative;
	margin: .2rem auto .4rem auto;
	width: 2.2rem;
	text-align: center;
	height: 2.2rem;
	border: .2rem solid #1c87ff;
	-webkit-border-radius: 2.2rem;
	-moz-border-radius: 2.2rem;
	border-radius: 2.2rem;
	overflow: hidden;
}
.credit-limit p.title {
	margin: .85rem 0 .1rem 0;
	color: #78909c;
	font-size: .24rem;
}
.credit-limit p.money {
	font-size: .36rem;
}
.credit-money p.input-wrap {
	margin: .2rem auto 0 auto;
	width: 4.8rem;
	text-align: center;
	height: .7rem;
	line-height: .7rem;
	background-color: #f1f3f2;
	-webkit-border-radius: .08rem;
	-moz-border-radius: .08rem;
	border-radius: .08rem;
}
.credit-money p input {
	position: relative;
	margin-top: .15rem;
	width: 4.6rem;
	text-align: center;
	height: .4rem;
	line-height: .4rem;
	background-color: #f1f3f2;
}
.credit-packet-term {
	display: inline-block;
}
.credit-packet-term p.title {
	margin-bottom: .2rem;
}
.credit-packet-term-label {
	display: inline-block;
}
.credit-packet-term-label label {
	float: left;
	padding: 0 .15rem .3rem .15rem;
	width: 2rem;
	text-align: center;
	height: .94rem;
}
.credit-packet-term-label label p {
	position: relative;
	float: left;
	text-align: center;
	padding: .1rem 0;
	border-radius: .05rem;
	color: #78909c;
	border: 1px solid #78909c;
	width: 2rem;
}
.credit-packet-term-label label.checked p {
	color: #ff681d;
	border: 1px solid #ff681d;
}
.credit-packet-term-label label p span {
	display: inline-block;
	font-size: .26rem;
	width: 2rem;
}
.credit-packet-term-label label p span:first-child {
	margin-top: .08rem;
	margin-bottom: .1rem;
}
.credit-packet-term p.fee {
	margin-bottom: .2rem;
}
.credit-packet-term p em {
	color: #ff681d;
}
.credit-packet-alipay {
	background-color: #fff;
}
.credit-packet-alipay p.title {
	padding-left: .3rem;
	height: .7rem;
	line-height: .7rem;
}
.credit-packet-alipay p.alipay {
	padding: 0 .3rem;
	height: 1rem;
	line-height: 1rem;
	border-top: 1px solid #f1f3f2;
}
.credit-packet-alipay p.alipay i.icon-alipay {
	display: inline-block;
	float: left;
	margin: .25rem .2rem .25rem 0;
	width: .5rem;
	height: .5rem;
	background: url('../data/icon_alipay.png') center center no-repeat;
	background-size: 100% 100%;
}
.credit-packet-alipay p.alipay span i {
	margin-left: .2rem;
	color: #1c87ff;
}
.credit-packet-footer {
	position: relative;
	padding: .3rem;
}
.credit-packet-footer button {
	position: relative;
	margin: 0 1.8rem .6rem 1.8rem;
	width: 3.6rem;
	text-align: center;
	height: .72rem;
	line-height: .72rem;
	-webkit-border-radius: .08rem;
	-moz-border-radius: .08rem;
	border-radius: .08rem;
	background-color: #ff681d;
	border: 0;
	color: #fff;
	font-size: .3rem;
}
.credit-packet-rule {
	margin-left: .6rem;
	width: 6rem;
}
.credit-packet-rule .rule-header {
	padding-bottom: .2rem;
	text-align: center;
}
.icon-line {
	display: inline-block;
	width: 1.74rem;
	height: .14rem;
}
.icon-line-left {
	margin-right: .1rem;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	background: url('../data/icon_rule_line.png') center center no-repeat;
	background-size: 100% 100%;
}
.icon-line-right {
	margin-left: .1rem;
	background: url('../data/icon_rule_line.png') center center no-repeat;
	background-size: 100% 100%;
}
.credit-packet-rule ol li {
	font-size: .26rem;
	line-height: 1.5;
	padding-bottom: .1rem;
}

/* change alipay */
.change-alipay-wrap {
	position: fixed;
	top: 0;
	width: 7.5rem;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.change-alipay-inner {
	position: relative;
	margin: 1.6rem auto 0 auto;
	width: 5.6rem;
	background-color: #fff;
	-webkit-border-radius: .08rem;
	-moz-border-radius: .08rem;
	border-radius: .08rem;
	overflow: hidden;
	color: #78909c;
}
.change-alipay-form p {
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #f1f3f2;
}
.change-alipay-form p input {
	width: 5.2rem;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	font-size: .3rem;
}
.change-alipay-footer button {
	float: left;
	width: 2.8rem;
	height: 1rem;
	line-height: 1rem;
	border: 0;
	background-color: #fff;
	color: #78909c;
}
.change-alipay-footer button:first-child {
	border-right: 1px solid #f1f3f2;
}
/* credit_packet end */

/* form begin */
.login-reg-form {
	position: relative;
	padding-top: 1.8rem;
	width: 7.5rem;
	text-align: center;
}
.login-reg-form ul {
	padding: .2rem 0;
	margin: 0 auto;
	width: 6.4rem;
}
.login-reg-form ul li {
	display: block;
	margin: 0 auto .2rem auto;
	width: 100%;
	text-align: center;
}
.login-reg-form ul li input {
	display: inline-block;
	padding: .2rem;
	width: 5.96rem;
	font-size: .3rem;
	border-radius: .08rem;
	background-color: #fff;
	border: 1px solid #dbe4e8;
}
.login-reg-form ul li p {
	margin-top: .2rem;
	text-align: right;
	color: #1c87ff;
	cursor: pointer;
}
.login-reg-form ul li button {
	position: relative;
	width: 4.6rem;
	height: .72rem;
	vertical-align: middle;
	font-size: .36rem;
	color: #fff;
	border-radius: .08rem;
	border: 0;
	-webkit-appearance: none;
}
.login-reg-form ul li button[type="button"] {
	margin-top: .2rem;
	background-color: #fff;
	border: 1px solid #1c87ff;
	color: #1c87ff;
}
.login-reg-form ul li button.js-btn {
	margin-top: .8rem;
	background-color: #ff4620;
	border: 1px solid #ff4620;
	color: #fff;
}
.login-reg-form input.code {
	position: relative;
	margin: 0 .19rem .2rem 0;
	float: left;
	width: 3.76rem;
}
.login-reg-form input.getcode-btn {
	position: relative;
	float: left;
	width: 2rem;
	height: .8rem;
	color: #fff;
	font-size: .28rem;
	background-color: #1c87ff;
	border: none;
}
.login-reg-form input.getcode-btn:disabled {
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #fff;
}
/* form end */
/*加载中begin */
.loading-dialog {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -3.75rem;
	width: 7.5rem;
	height: 100%;
	background-color: #fff;
	text-align: center;
	z-index: 999;
}
.loading-inner {
	position: relative;
	top: 4rem;
}
.loading-icon {
	margin-bottom: 1.3rem;
	position: relative;
	left: 3.27rem;
	width: .96rem;
	height: .96rem;
	background: url('http://7xl6qe.com2.z0.glb.qiniucdn.com/img%2Floading_icon.png') center center no-repeat;
	background-size: 100% 100%;
	animation: 1s linear 0s normal none infinite rotate;
	-webkit-animation: 1s linear 0s normal none infinite rotate;
}
@-webkit-keyframes rotate {
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate {
	from{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate {
	from{-ms-transform:rotate(0deg)}
	to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate {
	from{-o-transform:rotate(0deg)}
	to{-o-transform:rotate(360deg)}
}
.loading-inner p {
	margin-bottom: .1rem;
	font-size: .3rem;
	color: #263238;
}
.loading-inner small {
	font-size: .16rem;
	color: #999;
}
/*加载中end */

/* 操作提示 */
.info-tips {
	margin: 0 auto;
	width: 7.5rem;
	text-align: center;
}
.info-tips-inner {
	padding: .2rem .1rem;
	position: fixed;
	bottom: 3rem;
	left: 1.65rem;
	width: 4rem;
	border-radius: .1rem;
	background-color: rgba(0,0,0,.8);
	box-shadow: 0 0 .5rem rgba(0,0,0,.25);
	color: #fff;
	font-size: .26rem;
	z-index: 999999;
}
/* 字体 */
@font-face {
    /* font-properties */
    font-family: 'Snell Roundhand',cursive;
    src:url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/Material-Design-Icons.woff2'),  
    url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/SnellRoundhandLTStd-Scr.otf');
}

/* 媒体查询 */
@media screen and (max-width:359px) and (orientation:portrait) {
	html {
		font-size: 266.67%;
	}
}

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
	html {
		font-size: 300%;
	}
}

@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
	html {
		font-size: 320%;
	}
}

@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
	html {
		font-size: 333.33%;
	}
}

@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
	html {
		font-size: 345%;
	}
}

@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
	html {
		font-size: 360%;
	}
}

@media screen and (min-width:480px)and (max-width:639px) and (orientation:portrait) {
	html {
		font-size: 400%;
	}
}

@media screen and (min-width:640px) and (orientation:portrait) {
	html {
		font-size: 533.33%;
	}
}