/*
 * @description:呗悬赏
 * @author: cyt
 * @update: 2016.04.27
*/
@charset "utf-8";
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 312.5%;/*10px*/
}

a,
a:hover,
a:active {
	text-decoration: none;
	color: #263238;
}
.hidden {
	visibility: hidden;
}

input,
select,
textarea {
	-webkit-appearance: none;
	outline: none;
	border: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #ccc;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #ccc;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #ccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #ccc;
}
input[type="checkbox"] {
	display: inline-block;
	float: left;
	margin: 0 2px 0;
	width: .36rem;
	height: .36rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_select_link.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="checkbox"]:checked {
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_select_active.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="checkbox"]:disabled {
	background: none;
	visibility:hidden;
}
input[type="radio"] {
	display: inline-block;
	float: left;
	margin: 2px 3px 0;
	width: .36rem;
	height: .36rem;
	background: url('../img/icon_radio_link.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="radio"]:checked {
	background: url('../img/icon_radio_active.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="radio"]:disabled {
	background: none;
	visibility:hidden;
}
.null-tips {
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 200px;
	color: #999;
	text-align: center;
}

* {
	outline: none;
	webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body, html {
	width: 100%;
	font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	background: #fff;
	color: #263238;
}

body {
	margin: 0 auto;
	font-size: .28rem;
	line-height: 1;
}
.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 7.5rem;
	background-color: #fff;
	font-size: .28rem;
}
/* header begin */
.header {
	position: relative;
	padding: .3rem 0;
	width: 100%;
	height: 1.46rem;
	background-color: #2fb98a;
}
.menu-box {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}
.menu-box .icon {
	margin: 0 auto;
	width: .54rem;
	height: .54rem;
}
.menu-box .icon-balance {
	background: url('../img/icon_balance.png') center center no-repeat;
	background-size: 100% 100%;
}
.menu-box .icon-task {
	background: url('../img/icon_mytask.png') center center no-repeat;
	background-size: 100% 100%;
}
.menu-box .menu-title {
	margin: .2rem auto;
	color: #fff;
}
.menu-box .menu-info {
	font-size: .24rem;
	color: #0a5038;
}
/* nav begin */
.nav {
	position: relative;
	padding: .25rem 0;
	height: .5rem;
	border-bottom: 1px solid #dbe4e8;
}
.nav ul li {
	padding-left: .6rem;
	float: left;
	height: .5rem;
	line-height: .5rem;
	width: 3.15rem;
	font-size: .3rem;
}
.nav ul li:first-child {
	margin-left: -1px;
	border-right: 1px solid #dbe4e8;
}
.nav ul li .icon {
	display: inline-block;
	float: left;
	margin-top: .06rem;
	margin-right: .2rem;
	width: .38rem;
	height: .38rem;
}
.nav ul li .icon-classify {
	background: url('../img/icon_classify_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li .icon-sort {
	background: url('../img/icon_sort_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active {
	color: #2fb98a;
}
.nav ul li.active .icon-classify {
	background: url('../img/icon_classify_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .icon-sort {
	background: url('../img/icon_sort_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav-dialog-wrap {
	position: absolute;
	width: 7.5rem;
	height: 100%;
	background-color: rgba(30,30,30,.5);
	z-index: 1;
}
.nav-dialog {
	background-color: #fff;
}
.nav-dialog ul li {
	padding: 0 .6rem;
	height: .9rem;
	line-height: .9rem;
	width: 6.3rem;
	border-bottom: 1px solid #dbe4e8;
}
.nav-dialog ul li label {
	display: inline-block;
	width: 100%;
}
.nav-dialog ul li span {
	float: right;
}
.nav-dialog ul li:last-child {
	padding: .4rem .6rem;
	text-align: center;
}
.nav-dialog ul li:last-child .nav-btn {
	display: inline-block;
	width: 3rem;
	text-align: center;
	height: .7rem;
	line-height: .7rem;
	border-radius: .08rem;
	background-color: #fe781e;
	color: #fff;
	font-size: .3rem;
}
.nav-dialog ul li span input[type="radio"] {
	background: none;
}
.nav-dialog ul li span input[type="radio"]:checked {
	margin-top: .275rem;
	width: .35rem;
	height: .25rem;
	background: url('../img/icon_nav_sort_active.png') center center no-repeat;
	background-size: 100% 100%;
}
/* task-list begin */
.task-list {
	background-color: #fff;
}
.task-list ul li {
	padding: 0 .3rem;
	width: 6.9rem;
	height: 1.6rem;
	border-bottom: 1px solid #dbe4e8;
	clear: both;
}
.task-list ul li .classify-color {
	display: inline-block;
	margin: .35rem .2rem .35rem 0;
	float: left;
	width: .9rem;
	text-align: center;
	height: .9rem;
	line-height: .9rem;
	font-size: .3rem;
	border-radius: .9rem;
	overflow: hidden;
	font-weight: 500;
}
.task-list ul li .classify-color-0 {
	color: #1995f4;
	border: 1px solid #1995f4;
}
.task-list ul li .classify-color-1 {
	color: #21a5dc;
	border: 1px solid #21a5dc;
}
.task-list ul li .classify-color-2 {
	color: #ff4285;
	border: 1px solid #ff4285;
}
.task-list ul li .classify-color-3 {
	color: #2fb98a;
	border: 1px solid #2fb98a;
}
.task-list ul li .classify-color-4 {
	color: #f45719;
	border: 1px solid #f45719;
}
.task-list ul li .task-detail {
	display: inline-block;
	float: left;
	padding: .35rem 0;
	width: 4.3rem;
}
.task-list ul li .task-detail .task-name {
	margin-bottom: .32rem;
	font-size: .3rem;
	color: #263238;
}
.task-list ul li .task-detail .task-name span {
	display: inline-block;
	width: 3.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.task-list ul li .task-detail .task-name .icon-hot,
.task-desc .icon-hot {
	display: inline-block;
	float: right;
	margin-left: .2rem;
	width: .6rem;
	height: .3rem;
	background: url('../img/icon_hot.png') center center no-repeat;
	background-size: 100% 100%;
}
.task-list ul li .task-detail .task-amount-time {
	font-size: .24rem;
	color: #78909c;
}
.task-list ul li .task-detail .task-amount-time span {
	float: right;
}
.task-list ul li .charge {
	display: inline-block;
	width: 1.4rem;
	text-align: right;
	height: 1.6rem;
	line-height: 1.6rem;
	float: right;
	font-size: .36rem;
	font-weight: bold;
	color: #fe781e;
}
.task-list ul li .state {
	display: inline-block;
	width: 1.4rem;
	text-align: right;
	height: 1.6rem;
	line-height: 1.6rem;
	float: right;
	font-size: .3rem;
}
.task-list ul li .state-0 {
	color: #1995f4;
}
.task-list ul li .state-1 {
	color: #fe781e;
}
.task-list ul li .state-2 {
	color: #2fb98a;
}
.task-list ul li .state-3 {
	color: #ff4285;
}
.my-task .task-list ul li .task-detail .task-name span {
	display: inline-block;
	width: 4.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* task-desc begin */
.task-desc-header {
	padding: .3rem .3rem .1rem;
	border-bottom: .2rem solid #f1f3f2;
	display: inline-block;
	background-color: #fff;
}
.task-desc-header h1 {
	font-size: .3rem;
	color: #263238;
	font-weight: 700;
}
.task-desc-header h2 {
	margin: .3rem 0;
	font-size: .36rem;
	color: #fe781e;
}
.task-desc-header ul li {
	position: relative;
	margin-bottom: .2rem;
	width: 50%;
	float: left;
	color: #78909c;
	font-size: .24rem;
}
.task-desc-detail {
	padding: .3rem .3rem 1.08rem;
	color: #263238;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 1.6;
	font-size: .26rem;
	background-color: #fff;
}
.task-desc-detail h1 {
	margin-bottom: .3rem;
	padding-left: .1rem;
	font-weight: 700;
	font-size: .3rem;
	line-height: 1;
	border-left: .1rem solid #ff7a31;
}
.task-description {
	padding-bottom: .3rem;
}
.task-desc-footer a {
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	height: .98rem;
	line-height: .98rem;
	background-color: #ff7a31;
	text-align: center;
	display: block;
	color: #fff;
	font-size: .36rem;
}
.task-desc-footer a.state-2 {
	background-color: #ccc;
	color: #263238;
}
.task-desc-footer a.state-3 {
	background-color: #2fb98a;
	color: #fff;
}
/* submit-task begin */
.submit-task {
	line-height: 1.3;
}
.task-step {
	padding-bottom: .78rem;
}
.task-step-box-wrap {
	padding: .3rem;
	word-break: break-all;
}
.task-step-box {
	margin-bottom: .3rem;
	background-color: #fff;
	border-radius: .12rem;
}
.task-step-box-header {
	padding: .3rem;
	border-bottom: 1px dashed #eee;
}
.task-step-box-header h2 {
	text-align: center;
	font-size: .3rem;
}
.task-step-box-header textarea,
.task-step-img {
	margin: .3rem 0 0;
	padding: .2rem .1rem;
	min-height: 2.5rem;
	width: 5.9rem;
	background-color: #f1f3f2;
	border: 1px solid #f1f3f2;
	border-radius: 0;
}
.task-step-img {
	display: inline-block;
	padding: .1rem;
}
.task-step-img .img-box {
	padding: .1rem;
	width: 2.75rem;
	float: left;
}
.task-step-img .img-box .icon-close {
	position: absolute;
	display: inline-block;
	margin-left: 2.45rem;
	margin-top: -.1rem;
	width: .4rem;
	height: .4rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/duobao_web/img/delete.png') center center no-repeat;
	background-size: 100% 100%;
}
.task-step-img .img-box img {
	width: 100%;
}
.task-step-box-header textarea::-webkit-input-placeholder {
	color: #999;
}
.task-step-box-content {
	padding: 0 .3rem .3rem .3rem;
	line-height: 1.3;
}
.task-step-box-content p.title {
	padding-left: .1rem;
	margin: .3rem 0 .2rem;
	line-height: 1;
	border-left: .1rem solid #ff7a31;
	font-weight: 700;
}
.submit-task form button {
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	height: .98rem;
	line-height: .98rem;
	color: #fff;
	font-size: .36rem;
	border: none;
	background-color: #ff7a31;
	z-index: 1;
}
.js-container {
	display: inline-block;
	margin: .2rem;
	width: 1.2rem;
	height: 1.2rem;
	background-color: #fff;
	border-radius: .08rem;
}
.js-container span {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: .08rem;
}
.upload-btn {
	display: inline-block;
	position: relative;
	content: '';
	float: left;
	width: 1.2rem;
	height: 1.2rem;
	background: url('../img/icon_add.png') center center no-repeat;
	background-size: 100% 100%;
}
.img-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 7.5rem;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
}
.img-loading-inner {
	position: absolute;
	top: 3.5rem;
	left: 2.75rem;
	width: 2rem;
	text-align: center;
	height: 2rem;
	background-color: #fff;
	border-radius: .12rem;
}
.img-loading-inner img {
	width: .5rem;
	height: .5rem;
	margin-top: .45rem;
}
.img-loading-inner p {
	margin-top: .35rem;
	color: #78909c;
	font-weight: 700;
}
/* my-balance begin */
.my-balance-header {
	padding: .6rem 0 .9rem 0;
	text-align: center;
	height: 1.1rem;
	color: #fff;
	background-color: #2fb98a;
}
.my-balance-header p {
	margin-bottom: .4rem;
	font-size: .26rem;
}
.my-balance-header h1 {
	font-size: .6rem;
}
.my-balance-nav {
	background-color: #fff;
	height: 1.2rem;
	border-bottom: 1px solid #dbe4e8;
}
.my-balance-nav a {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .3rem;
	color: #263238;
}
.my-balance-nav a:first-child {
	margin-left: -1px;
}
.my-balance-nav i {
	display: inline-block;
	margin-top: .3rem;
	float: left;
	border-right: 1px solid #dbe4e8;
	height: .6rem;
}
.my-balance-list {
	position: relative;
	background-color: #fff;
}
.my-balance-list ul li {
	display: block;
	padding: 0 .3rem;
	width: 6.9rem;
	height: 1.2rem;
	border-bottom: 1px solid #dbe4e8;
}
.my-balance-list ul li span.left {
	display: inline-block;
	float: left;
	width: 5.1rem;
}
.my-balance-list ul li span.left .title {
	display: inline-block;
	margin: .2rem 0;
	font-size: .3rem;
	width: 5.1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.my-balance-list ul li span.left .time {
	font-size: .24rem;
	color: #78909c;
}
.my-balance-list ul li span.money {
	float: right;
	width: 1.8rem;
	text-align: right;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .36rem;
	color: #fe781e;
	font-weight: bold;
}
.my-balance-list ul li span.money-1 {
	color: #2fb98a;
}
/* my-task begin */
.my-task-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 7.5rem;
	height: .8rem;
	line-height: .8rem;
	border-bottom: 1px solid #dbe4e8;
	background-color: #fff;
	z-index: 999;
}
.my-task-nav ul li {
	float: left;
	width: 25%;
	text-align: center;
}
.my-task-nav ul li a {
	display: inline-block;
	width: 1.2rem;
	height: .75rem;
	font-size: .28rem;
	border-bottom: .05rem solid #fff;
}
.my-task-nav ul li.active a {
	color: #2fb98a;
	border-bottom: .05rem solid #2fb98a;
}
.my-task .task-list {
	margin-top: .81rem;
}
/* withdraw begin */
.withdraw-inner {
	margin: .3rem;
	background-color: #fff;
}
.withdraw-inner .alipay {
	padding: .3rem;
	background-color: rgb(251,251,251);
}
.withdraw-inner .alipay span {
	float: right;
	color: #1995f4;
}
.withdraw-inner h2 {
	padding: .3rem .3rem .1rem .3rem;
	font-weight: normal;
}
.withdraw-inner .input-wrap {
	margin: 0 .3rem .3rem;
	padding-bottom: .1rem;
	font-weight: bold;
	font-size: .5rem;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #dbe4e8;
}
.withdraw-inner .input-wrap input {
	margin-left: .2rem;
	width: 4.5rem;
	font-size: .6rem;
	height: 1rem;
}
.withdraw-inner .tips {
	padding: 0 .3rem .3rem;
	color: #78909c;
}
.withdraw-inner .tips-error {
	color: #ff4285;
}
.withdraw-inner .tips span {
	color: #1995f4;
}
.withdraw-footer {
	padding: 0 .3rem .3rem .3rem;
	text-align: center;
}
.withdraw-footer p {
	padding-bottom: .3rem;
	color: #78909c;
}
.withdraw-footer button {
	width: 6.9rem;
	text-align: center;
	height: .8rem;
	line-height: .8rem;
	color: #fff;
	background-color: #2fb98a;
	border: 1px solid #2fb98a;
	border-radius: .08rem;
	font-size: .36rem;
}
.withdraw-footer button:disabled {
	background-color: #5cc8a3;
	border: 1px solid #5cc8a3;
	color: #fefefe;
}
.withdraw-success {
	position: fixed;
	top: 0;
	padding-top: 2.5rem;
	width: 100%;
	text-align: center;
	height: 100%;
	background-color: #fff;
	z-index: 1;
}
.withdraw-success p {
	margin-top: .59rem;
	font-size: .3rem;
	color: #263238;
}
.withdraw-success a {
	display: inline-block;
	margin-top: .6rem;
	font-size: .3rem;
	color: #0a8fff;
	font-weight: 700;
}
/* 下拉刷新、上拉加载通用样式 */
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller-pullDown,#scroller-pullUp {
	position: absolute;
	left: 0;
	width: 100%;
    height: .8rem;
    line-height: .8rem;
    font-weight: bold;
    font-size: .34rem;
    color: #888;
	text-align: center;
	background-color: #fff;
}
#scroller-pullDown{
	top: -.8rem;
}
#scroller-pullUp{
	bottom: -.8rem;
}

#scroller-pullDown .pull-up-msg,#scroller-pullUp .pull-down-msg {
	padding-left: .2rem;
}
#scroller-pullDown .pull-down-icon,#scroller-pullUp .pull-up-icon{
	display: inline-block;
	color: #f00;
	font-size: 1.4;
	-webkit-transform: rotate(0deg);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 500ms;
}
.icon-double-angle-down {
	display: inherit;
	width: .2rem;
	height: .2rem;
	background: url('../img/arrow_down.png') center center no-repeat;
	background-size: 100% 100%;
}
.icon-double-angle-up {
	display: inherit;
	width: .2rem;
	height: .2rem;
	background: url('../img/arrow_up.png') center center no-repeat;
	background-size: 100% 100%;
}
#scroller-pullDown .pull-down-icon.reverse_icon,#scroller-pullUp .pull-up-icon.reverse_icon{
	-webkit-transform: rotate(-180deg);
}
i.loading {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: 5px;
	width: 20px;
	height: 20px;
	background: url('http://7xl6qe.com2.z0.glb.qiniucdn.com/img/loading.gif') center center no-repeat;
	background-size: 20px 20px;
}
i.icon-finish {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_finish.png') center center no-repeat;
	background-size: 100% 100%;
}
i.icon-warning {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_warning.png') center center no-repeat;
	background-size: 100% 100%;
}
button:disabled {
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #fff;
}
/* common end */

/* 字体 */
@font-face {
    /* font-properties */
    font-family: 'Snell Roundhand',cursive;
    src:url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/Material-Design-Icons.woff2'),  
    url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/SnellRoundhandLTStd-Scr.otf');
}

/* 自适应 */
@media screen and (max-width:359px) and (orientation:portrait) {
	html {
		font-size: 266.67%;
	}
}

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
	html {
		font-size: 300%;
	}
}

@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
	html {
		font-size: 320%;
	}
}

@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
	html {
		font-size: 333.33%;
	}
}

@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
	html {
		font-size: 345%;
	}
}

@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
	html {
		font-size: 360%;
	}
}

@media screen and (min-width:480px)and (max-width:639px) and (orientation:portrait) {
	html {
		font-size: 400%;
	}
}

@media screen and (min-width:640px) and (orientation:portrait) {
	html {
		font-size: 533.33%;
	}
}