/*
 * @description:呗悬赏
 * @author: cyt
 * @update: 2016.04.27
*/
@charset "utf-8";
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 312.5%;/*10px*/
}

a,
a:hover,
a:active {
	text-decoration: none;
	color: #263238;
}
.hidden {
	visibility: hidden;
}

input,
select,
textarea {
	-webkit-appearance: none;
	outline: none;
	border: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #ccc;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #ccc;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #ccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #ccc;
}
input[type="checkbox"] {
	display: inline-block;
	float: left;
	margin: 0 2px 0;
	width: .36rem;
	height: .36rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_select_link.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="checkbox"]:checked {
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_select_active.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="checkbox"]:disabled {
	background: none;
	visibility:hidden;
}
input[type="radio"] {
	display: inline-block;
	float: left;
	margin: 2px 3px 0;
	width: .36rem;
	height: .36rem;
	background: url('../img/icon_radio_link.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="radio"]:checked {
	background: url('../img/icon_radio_active.png') center center no-repeat;
	background-size: 100% 100%;
}
input[type="radio"]:disabled {
	background: none;
	visibility:hidden;
}

* {
	outline: none;
	webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body, html {
	width: 100%;
	font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	background: #f1f3f2;
	color: #263238;
}

body {
	margin: 0 auto;
	font-size: .28rem;
	line-height: 1;
}
.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 7.5rem;
	background-color: #f1f3f2;
	font-size: .28rem;
}
/* header begin */
.header {
	position: relative;
	padding: .3rem 0;
	width: 100%;
	height: 1.46rem;
	background-color: #2fb98a;
}
.menu-box {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}
.menu-box .icon {
	margin: 0 auto;
	width: .54rem;
	height: .54rem;
}
.menu-box .icon-balance {
	background: url('../img/icon_balance.png') center center no-repeat;
	background-size: 100% 100%;
}
.menu-box .icon-task {
	background: url('../img/icon_mytask.png') center center no-repeat;
	background-size: 100% 100%;
}
.menu-box .menu-title {
	margin: .2rem auto;
	color: #fff;
}
.menu-box .menu-info {
	font-size: .24rem;
	color: #0a5038;
}
/* nav begin */
.nav {
	position: relative;
	padding: .25rem 0;
	height: .5rem;
	border-bottom: 1px solid #dbe4e8;
	background-color: #fff;
}
.nav ul li {
	padding-left: .6rem;
	float: left;
	height: .5rem;
	line-height: .5rem;
	width: 3.15rem;
	font-size: .3rem;
}
.nav ul li:first-child {
	margin-left: -1px;
	border-right: 1px solid #dbe4e8;
}
.nav ul li .icon {
	display: inline-block;
	float: left;
	margin-top: .06rem;
	margin-right: .2rem;
	width: .38rem;
	height: .38rem;
}
.nav ul li .icon-classify {
	background: url('../img/icon_classify_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li .icon-sort {
	background: url('../img/icon_sort_link.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active {
	color: #2fb98a;
}
.nav ul li.active .icon-classify {
	background: url('../img/icon_classify_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav ul li.active .icon-sort {
	background: url('../img/icon_sort_active.png') center center no-repeat;
	background-size: 100% 100%;
}
.nav-dialog-wrap {
	position: absolute;
	width: 7.5rem;
	height: 100%;
	background-color: rgba(30,30,30,.5);
}
.nav-dialog {
	background-color: #fff;
}
.nav-dialog ul li {
	padding: 0 .6rem;
	height: .9rem;
	line-height: .9rem;
	width: 6.3rem;
	border-bottom: 1px solid #dbe4e8;
}
.nav-dialog ul li label {
	display: inline-block;
	width: 100%;
}
.nav-dialog ul li span {
	float: right;
}
.nav-classify-dialog ul li span input[type="checkbox"] {
	margin-top: .3rem;
	width: .3rem;
	height: .3rem;
	outline-style: none;
	background: none;
	border: 1px solid #78909c;
	border-radius: 0;
}
.nav-classify-dialog ul li span input[type="checkbox"]:checked {
	border: 1px solid #2fb98a;
	background: url('../img/checkbox_active.png') center center no-repeat;
	background-size: 100% 100%;
	border-radius: 0;
}
.nav-classify-dialog ul li:last-child {
	padding: .4rem .6rem;
	text-align: center;
}
.nav-classify-dialog ul li:last-child .nav-btn {
	display: inline-block;
	width: 3rem;
	text-align: center;
	height: .7rem;
	line-height: .7rem;
	border-radius: .08rem;
	background-color: #fe781e;
	color: #fff;
	font-size: .3rem;
}
.nav-sort-dialog ul li span input[type="radio"] {
	background: none;
}
.nav-sort-dialog ul li span input[type="radio"]:checked {
	margin-top: .275rem;
	width: .35rem;
	height: .25rem;
	background: url('../img/icon_nav_sort_active.png') center center no-repeat;
	background-size: 100% 100%;
}
/* task-list begin */
.task-list ul li {
	padding: 0 .3rem;
	width: 6.9rem;
	height: 1.6rem;
	background-color: #fff;
	border-bottom: 1px solid #dbe4e8;
	clear: both;
}
.task-list ul li .classify-color {
	display: inline-block;
	margin: .35rem .2rem .35rem 0;
	float: left;
	width: .9rem;
	text-align: center;
	height: .9rem;
	line-height: .9rem;
	font-size: .3rem;
	border-radius: .9rem;
	overflow: hidden;
}
.task-list ul li .classify-color-1 {
	color: #21a5dc;
	border: 1px solid #21a5dc;
}
.task-list ul li .classify-color-2 {
	color: #ff4285;
	border: 1px solid #ff4285;
}
.task-list ul li .classify-color-3 {
	color: #2fb98a;
	border: 1px solid #2fb98a;
}
.task-list ul li .classify-color-4 {
	color: #f45719;
	border: 1px solid #f45719;
}
.task-list ul li .classify-color-5 {
	color: #1995f4;
	border: 1px solid #1995f4;
}
.task-list ul li .task-detail {
	display: inline-block;
	float: left;
	padding: .35rem 0;
	width: 4.3rem;
}
.task-list ul li .task-detail .task-name {
	margin-bottom: .32rem;
	font-size: .3rem;
	color: #263238;
}
.task-list ul li .task-detail .task-name span {
	display: inline-block;
	width: 3.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.task-list ul li .task-detail .task-name .icon-hot {
	display: inline-block;
	float: right;
	margin-left: .2rem;
	width: .6rem;
	height: .3rem;
	background: url('../img/icon_hot.png') center center no-repeat;
	background-size: 100% 100%;
}
.task-list ul li .task-detail .task-amount-time {
	font-size: .24rem;
	color: #78909c;
}
.task-list ul li .task-detail .task-amount-time span {
	float: right;
}
.task-list ul li .charge {
	display: inline-block;
	width: 1.4rem;
	text-align: right;
	height: 1.6rem;
	line-height: 1.6rem;
	float: right;
	font-size: .36rem;
	font-weight: bold;
	color: #fe781e;
}
/* task-desc begin */
.task-desc-header {
	padding: .3rem .3rem .1rem;
	border-bottom: .2rem solid #ccc;
	display: inline-block;
}
.task-desc-header h1 {
	font-size: .3rem;
	color: #263238;
	font-weight: normal;
}
.task-desc-header h2 {
	margin: .3rem 0;
	font-size: .36rem;
	color: #fe781e;
}
.task-desc-header ul li {
	position: relative;
	margin-bottom: .2rem;
	width: 50%;
	float: left;
	color: #78909c;
	font-size: .24rem;
}
.task-desc-detail {
	padding: .3rem .3rem 1.08rem;
	color: #263238;
}
.task-desc-footer {
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	height: .98rem;
	line-height: .98rem;
	background-color: #ff7a31;
	text-align: center;
}
.task-desc-footer a {
	display: block;
	color: #fff;
	font-size: .36rem;
}
/* my-balance begin */
.my-balance-header {
	padding: .6rem 0 .9rem 0;
	text-align: center;
	height: 1.1rem;
	color: #fff;
	background-color: #2fb98a;
}
.my-balance-header p {
	margin-bottom: .4rem;
	font-size: .26rem;
}
.my-balance-header h1 {
	font-size: .6rem;
}
.my-balance-nav {
	background-color: #fff;
	height: 1.2rem;
	border-bottom: 1px solid #dbe4e8;
}
.my-balance-nav a {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .3rem;
	color: #263238;
}
.my-balance-nav a:first-child {
	margin-left: -1px;
}
.my-balance-nav i {
	display: inline-block;
	margin-top: .3rem;
	float: left;
	border-right: 1px solid #dbe4e8;
	height: .6rem;
}
.my-balance-list {
	position: relative;
	background-color: #fff;
}
.my-balance-list ul li {
	display: inline-block;
	padding: 0 .3rem;
	width: 6.9rem;
	height: 1.2rem;
	border-bottom: 1px solid #dbe4e8;
}
.my-balance-list ul li span.left {
	display: inline-block;
	float: left;
	width: 5.1rem;
}
.my-balance-list ul li span.left .title {
	display: inline-block;
	margin: .2rem 0;
	font-size: .3rem;
	width: 5.1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.my-balance-list ul li span.left .time {
	font-size: .24rem;
	color: #78909c;
}
.my-balance-list ul li span.money {
	float: right;
	width: 1.8rem;
	text-align: right;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .36rem;
	color: #fe781e;
	font-weight: bold;
}
/* my-task begin */
.my-task-nav {
	background-color: #fff;
	height: .6rem;
	line-height: .6rem;
	border-bottom: 1px solid #dbe4e8;
}
.my-task-nav ul li {
	float: left;
	width: 25%;
	text-align: center;
}
.my-task-nav ul li a {
	display: inline-block;
	width: 1.2rem;
	height: .55rem;
	font-size: .28rem;
	border-bottom: .05rem solid #fff;
}
.my-task-nav ul li.active a {
	color: #2fb98a;
	border-bottom: .05rem solid #2fb98a;
}

i.loading {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: 5px;
	width: 20px;
	height: 20px;
	background: url('http://7xl6qe.com2.z0.glb.qiniucdn.com/img/loading.gif') center center no-repeat;
	background-size: 20px 20px;
}
i.icon-finish {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_finish.png') center center no-repeat;
	background-size: 100% 100%;
}
i.icon-warning {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background: url('http://7xo79i.com2.z0.glb.qiniucdn.com/amer/img/icon_warning.png') center center no-repeat;
	background-size: 100% 100%;
}
button:disabled {
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #fff;
}
/* common end */

/* 字体 */
@font-face {
    /* font-properties */
    font-family: 'Snell Roundhand',cursive;
    src:url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/Material-Design-Icons.woff2'),  
    url('http://7xl6qe.com2.z0.glb.qiniucdn.com/fonts/SnellRoundhandLTStd-Scr.otf');
}

/* 自适应 */
@media screen and (max-width:359px) and (orientation:portrait) {
	html {
		font-size: 266.67%;
	}
}

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
	html {
		font-size: 300%;
	}
}

@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
	html {
		font-size: 320%;
	}
}

@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
	html {
		font-size: 333.33%;
	}
}

@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
	html {
		font-size: 345%;
	}
}

@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
	html {
		font-size: 360%;
	}
}

@media screen and (min-width:480px)and (max-width:639px) and (orientation:portrait) {
	html {
		font-size: 400%;
	}
}

@media screen and (min-width:640px) and (orientation:portrait) {
	html {
		font-size: 533.33%;
	}
}